- content_for :title, 'List of Presentations'
.container
  .row
    .col-md-4
      = topics_nav
    .col-md-8
      = breadcrumb_nav if @topics
      = render @presentations
      = paginate @presentations
