<table cellpadding="0" cellspacing="0" border="0" width="47%"
       align="<%= align %>" class="responsive-table">
  <tbody>
    <tr>
      <td style="padding: 20px 0 40px 0;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td align="center" bgcolor="#ffffff" valign="middle">
                <%= link_to product_url(result), target: '_blank' do %>
                  <%= image_tag result.primary_image.url(:medium),
                    width: 240, height: 240,
                    style: "display: block; width: 240px; height: 240px;",
                    alt: result.name, border: "0", class: "img-max" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td align="center"
                  style="padding: 15px 0 0 0; font-family: Arial, sans-serif; color: #333333; font-size: 17px;" bgcolor="#ffffff">
                <%= result.name %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
