<% content_for :preheader, "#{@author.full_name} posted a new comment on #{@breakout_session.name}." %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          <p>
          <%= simple_format(@comment.message) %>
          </p>
          <hr />
          <p>
          Posted by <%= @author.full_name %>
        </p>
        </td>
      </tr>
    </table>
  </td>
</tr>

<%= render 'shared/mailers/button',
  cta: 'View Comment', url: "#{breakout_session_url(@breakout_session)}" %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          <p>
            Don't want to receive these notifications? Just reply 'unsubscribe'
            to this email and we'll take care of it. Thanks!
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
