<% content_for :preheader, 'Welcome to The Montessori Company!' %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">Welcome!</td>
        </tr>
        <tr>
          <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
    <p>We're delighted to welcome you to The Montessori Company.</p>
    <p>If there is anything we can help you with, please hit Reply and we'll be in touch!</p>
    <p>We've worked super hard to bring you some beautiful new Montessori materials.
    Why not check them out?</p>
          </td>
        </tr>
    </table>
  </td>
</tr>

<%= render 'button', cta: 'Shop Now',
  url: 'http://themontessoricompany.com/products' %>

