<% content_for :preheader, 'Welcome to The Montessori Company!' %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">Welcome!</td>
        </tr>
        <tr>
          <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
            <p>
              I'm delighted to welcome you to The Montessori Company. If there is
              anything I can help you with just hit Reply and I'll be in touch!
            </p>
            <p>
            ~ Michelle
            </p>
          </td>
        </tr>
    </table>
  </td>
</tr>

<%= render 'best_sellers' %>

<%= render 'shared/mailers/button',
  cta: 'Browse Materials', url: products_url %>
