- content_for :title, 'My Home'
- @active = 'dashboard'

.container#account
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3
        = "Hello, #{@user.full_name}!"
        = link_to 'Not your name?', edit_user_path(@user),
          class: 'name-prompt'
      %p Something adorable goes here
