- content_for :title, 'My Home'
- @active = 'dashboard'

.container
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3
        = "Hello, #{@user.email}!"
      %p Something adorable goes here
