- content_for :title, 'My Materials'

.container
  .row
    .col-sm-12
      %h3 My Materials
      %ul
        - @products.each do |product|
          %li= link_to product.name, product.download_url
