- content_for :title, 'My Materials'
- @active = 'materials'

.container#account
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3 My Materials
      %table.table.table-hover
        %thead
          %tr
            %th Preview
            %th Product
            %th Download
        %tbody
          - @products.each do |product|
            %tr
              %td
                = image_tag product.primary_image.url(:medium),
                  alt: product.name, class: 'product-preview'
              %td
                = link_to product.name, product_path(product)
              %td
                = link_to 'Download', product.download_url
