.container
  .row
    .col-md-4
      .cart-actions
        = total_pricing
        = checkout_btn
    .col-lg-8
      %h1
        Review Cart Items
      .list-group
        = render @order.line_items
