- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    .logo-container
      = link_to root_url do
        = image_tag 'primary-logo.png',
          alt: 'The Montessori Company', class: 'img-fluid'
