trix-editor, .attribute-data--wysiwyg-field {
  min-width: 60%;
  margin: 0 auto;
  font-size: 17px;

  h1 {
    font-size: 22px;
    margin-bottom: 12px;
  }

  blockquote {
    font-style: italic;
    color: gray;
    border-left: 4px solid $blue;
    padding: 15px;
  }

  figcaption {
    color: #7d7d7d;
  }

  ul, ol {
    margin: 10px;
    padding: 10px;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style-type: disc;
  }
}
