%tr
  %th{scope: 'row'}
    = link_to order.id, user_order_path(order.user, order)
  %td
    = time_tag order.created_at
  %td
    = order.line_items.count
  %td
    = number_to_currency(order.item_total, precision: 1)
