- content_for :title, 'Your Order'

.container#cart
  %h3.text-xs-center
    Your Order
  .row
    .col-sm-8.col-sm-offset-2
      #cart-contents.list-group
        = render @order.line_items
  .row
    .col-sm-8.col-sm-offset-2
      .details.text-xs-left
        .time
          Created on:
          = time_tag @order.created_at
        .price
          Order total:
          = number_to_currency(@order.total_price, precision: 1)
