$light-pink: rgb(248, 176, 180);
$pearl: rgb(247, 240, 232);
$light-yellow: rgb(242, 233, 170);
$light-blue: rgb(162, 204, 222);
$light-turquoise: rgb(199, 227, 225);

$grey: #dbe0e3;
$green: #cbd8ce;
$green-medium: darken($green, 10%);
$green-dark: darken($green, 30%);
$beige: #eee9e5;
$blue: #578BB7;
