$light-pink: rgb(248, 176, 180);
$pink: darken($light-pink, 20%);
$dark-pink: darken($pink, 10%);
$pearl: rgb(247, 240, 232);
$light-yellow: rgb(242, 233, 170);
$light-blue: rgb(162, 204, 222);
$light-turquoise: rgb(199, 227, 225);

$grey: #dbe0e3;
$black: #373a3c;
$green-light: #cbd8ce;
$green: #74967c;
$green-medium: darken($green, 10%);
$green-dark: darken($green, 30%);
$beige: #eee9e5;
$blue: #578BB7;
$blue-light: lighten($blue, 15%);

$blog-grey: #7d7d7d;
$blog-green: #47c866;
