<% @line_items.each_with_index do |item, index| %>
  <% style = index == 0 ? "" : "border-top:1px dotted #dedede" %>
  <tr align="center">
    <td align="left" valign="top" width="75%" style="<%= style %>">
      <span style="margin:0;font-size:15px;line-height:21px;font-family:'Helvetica',Arial,sans-serif;color:#333333">
        <%= item.name %>
      </span>
    </td>
    <td align="right" valign="top" width="25%" style="<%= style %>">
      <span style="margin:0;font-size:15px;line-height:21px;font-family:'Helvetica',Arial,sans-serif;color:#333333">
        <%= number_to_currency(item.price, precision: 2) %>
      </span>
    </td>
  </tr>
<% end %>
