%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand{href: "/"} TMC
  %ul.nav.navbar-nav
    %li.nav-item
      %a.nav-link{href: "/presentations"}
        Presentations
    %li.nav-item
      %a.nav-link{href: "/pages/about"}
        About
  %ul.nav.navbar-nav.pull-xs-right
    - if user_signed_in?
      %li.nav-item
        = link_to 'My Profile', user_path(current_user), class: 'nav-link'
      %li.nav-item
        = link_to 'Logout', destroy_user_session_path, method: :delete,
          class: 'nav-link'
    - else
      = link_to 'Login', new_user_session_path, class: 'nav-link'
