.post-preview {
  margin-bottom: 30px;

  .body {
    margin: 20px 0 25px;
  }
}

.post {
  figcaption {
    color: #7d7d7d;
    display: none;

    &.caption-edited {
      display: block;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
