#breakout-session {
  .card {
    padding: 1em;
    line-height: 2.2em;
    background-color: $lighter-grey;
    border: none;
  }
  .information {
    small {
      color: $blog-grey;
      margin-right: 0.25em;
    }
  }

  .help.card-block {
    border-left: solid 5px $lighter-grey;
  }

  .join {
    a {
      font-size: 1em;
    }
  }

  .organizers {
    .organizer {
      display: inline-block;
      margin-bottom: 0.5em;
      position: relative;
      .profile {
        margin-right: 0.5em;
        .name {
          font-size: 0.8em;
        }
      }
    }
  }

}

.direct-image-upload {
  position: relative;
  .status {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    .background, .message {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .background {
      background-color: $blue;
      opacity: 0.2;
    }
    .message {
      text-align: center;
      padding-top: 2em;
      color: $black;
      .uploading-message {
        display: none;
      }
    }
  }
  &.uploading {
    .status {
      display: block;
    }
  }
  &.dropped-image {
    .message {
      .ready-message {
        display: none;
      }
      .uploading-message {
        display: block;
      }
    }
  }
}
