.btn {
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    color: white;
  }
}

.btn-green {
  background: $green;
  color: black;
  font-size: 11pt;

  &:hover {
    background: $green-medium;
  }
}

.btn-cart {
  background: $grey;
  color: darken($grey, 40%);
  font-size: 9pt;
  height: 38px;
  line-height: 24px;

  &:hover {
    background: darken($grey, 20%);
  }
}

.btn-blog {
  background: white;
  color: $blue;
  font-size: 10pt;
  border: 1px $blue solid;
  width: 100%;

  &:hover {
    background: $blog-green;
    border: 1px $blog-green solid;
    color: white;
  }
}

.btn-secondary {
  background: white;
  color: darken($grey, 40%);
  border: 1px solid darken($grey, 40%);
  font-size: 9pt;

  &:hover {
    background: darken($grey, 20%);
  }
}

.btn-checkout {
  padding: 20px 35px;
  font-size: 12pt;
  background: $blue;
  color: white;

  &:hover {
    background: darken($blue, 10%);
  }
}
