#directory {
  .directory-header {
    position: relative;
    font-size: 24px;
    color: $blue;
  }

  .query {
    h5 {
      margin: 0.5em 0 0;
      color: $blue;
    }
    .form-inline {
      text-align: center;
      input[type='text'] {
        width: 30%;
      }
    }
  }

  .search {
    input[type='checkbox'] {
      display: initial;
      height: initial;
    }
    section {
      margin-bottom: 2em;
      h5 {
        margin-bottom: 1em;
      }
    }
  }
  table {
    .profile-image {
      margin: 0 auto;
      height: 60px;
      width: 60px;
      background-size: cover;
      border-radius: 50%;
    }
    tr {
      td {
        cursor: pointer;
        vertical-align: middle;
      }
    }
  }
}

.directory-profile {
  .private-message {
    position: relative;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: $lighter-blue;

    &.from-me {
      background-color: $lighter-grey;
    }

    .sent-info {
      position: absolute;
      bottom: 9px;
      right:  13px;
      font-size: 11px;
      font-style: italic;
      color: gray;
    }
  }
}
