.free {
  .intro {
    margin-bottom: 50px;
  }

  .add-to-cart {
    .prompt {
      text-transform: none;
      font-size: 13px;
    }
  }

  .price-container {
    .price {
      text-decoration: line-through;
      display: inline;
    }

    .free-label {
      display: inline;
      margin-left: 10px;
      color: $blue;
      text-transform: uppercase;
    }
  }
}

#free-materials {
  .add-to-cart {
    margin-top: 20px;
  }
}
