.free {
  .intro {
    margin-bottom: 50px;
  }

  .price-container {
    margin-bottom: 20px;

    .price {
      text-decoration: line-through;
      display: inline;
    }

    .free-label {
      display: inline;
      margin-left: 10px;
      color: $blue;
      text-transform: uppercase;
    }
  }

  .add-to-cart .prompt {
    text-transform: none;
    font-size: 13px;
  }
}
