@font-face {
  font-family: 'Script';
  src: url('Salt_and_Spices_Pro_Regular.eot?#iefix') format('embedded-opentype'),
       url('Salt_and_Spices_Pro_Regular.otf')  format('opentype'),
       url('Salt_and_Spices_Pro_Regular.woff') format('woff'),
       url('Salt_and_Spices_Pro_Regular.ttf')  format('truetype'),
       url('Salt_and_Spices_Pro_Regular.svg#Salt_and_Spices_Pro_Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato';
}

a {
  color: $green-medium;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $green-dark;
    text-decoration: none;
  }
}

input,
select,
textarea {
  font-size: 16px;
  height: 38px;
  border: 1px solid $grey;
}

select {
  background-color: white;
  color: $green-dark;
  border-radius: 0;
}

.grey {
  background: $grey;
}

.green {
  background: $green;
}

.beige {
  background: $beige;
}

.no-left-gutter {
  @media (min-width: 34em) {
    padding-left: 0;
  }
}

.spacer {
  text-align: center;
  margin: 20px 0;

  img {
    width: 65px;
  }
}

// ensure vertical spacing for form inputs when stacked on small screens
@media (max-width: 768px) {
  [class*="col-"]{
      margin-bottom: 15px;
  }
}

.logo-container {
  max-width: 500px;
  margin: 0 auto;
}
