#home {
  .hero-container {
    height: 390px;
    background: url(hero_bg.jpg) no-repeat left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;

    .tagline {
      align-self: center;
      text-transform: uppercase;
      background: rgba(255, 255, 255, 0.90);
      padding: 30px 20px 20px;
      text-align: center;
      letter-spacing: 2px;
      font-size: 0.75rem;
      width: 80%;
    }
  }

  .section-tile {
    text-align: center;
    height: 120px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    .line-one {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75rem;
    }

    .line-two {
      font-size: 1.75rem;
      font-family: 'Script';
    }

    &#presentations {
      @include hero-tile($grey);
    }

    &#products {
      @include hero-tile($green);
    }

    &#blog {
      @include hero-tile($beige);
    }
  }
}

#newsletter {
  margin: 15px 0 45px;

  .body {
    border: 1px solid $grey;
    padding: 20px 20px 28px;

    input {
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 2px;
      padding: 5px 0 10px;
      color: darken($grey, 30%);
    }
  }
}

#featured-products {
  margin-bottom: 70px;
}

#testimonials {
  height: 100%;

  h1 {
    text-align: center;
    font-family: 'Script';
    color: $blue;
    font-size: 1.8rem;
    margin-bottom: 25px;
  }

  .testimonial {
    background: $beige;
    min-height: 350px;
    display: table;
    margin-bottom: 40px;

    .left-cell {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-style: italic;
      color: darken($beige, 50%);
      height: 100%;
      width: 50%;
      padding: 0 50px;
    }

    .author {
      margin-top: 20px;
      font-style: normal;
      color: darken($green, 20%);
    }

    .right-cell {
      display: table-cell;
      background: url(testimonial.jpg) no-repeat right;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 50%;
      height: 100%;
    }
  }

  .about {
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
  }

  .btn {
    text-transform: uppercase;
    width: 100%;
    font-size: 0.8rem;
  }
}
