.navbar {
  .navbar-nav {
    font-size: 0.8rem;

    .nav-item {
      text-transform: uppercase;
    }

    .nav-item + .nav-item {
      margin-left: 2rem;
    }
  }

  .container {
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 0.5rem;
  }
}

.my-cart {
  color: $blue;
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}

// make navbar collapsible
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@media (max-width: 34em) {
  .navbar .navbar-nav .nav-item,
  .navbar .navbar-nav .nav-item + .nav-item {
    margin-left: 0.7rem;
  }
}

