.order-line-item {
  min-height: 140px;

  .content {
    width: 80%;
  }

  button {
    padding: 0.175rem 0.6rem;
  }

  .product-name {
    display: inline;
  }
  .product-price {
    margin-left: 8px;
    color: #6F6F6F;
    font-size: 0.85rem;
  }
  .product-description {
    padding: 10px 0;
    font-size: 0.95rem;
  }

  .cart-thumb {
    width: 170px;
    float: left;
    margin-right: 20px;
  }
}

#cart-contents {
  margin: 20px 0 30px;
}
