#cart {
  h3 {
    margin-bottom: 40px;
  }
}

.order-line-item {
  button {
    padding: 0.175rem 0.6rem;
  }

  .product-name {
    display: inline;
  }
  .product-price {
    margin-left: 8px;
    color: #6F6F6F;
    font-size: 0.85rem;
  }
  .product-description {
    padding: 10px 0;
    font-size: 0.95rem;
  }

  .cart-thumb {
    width: 100%;
  }
}

#cart-contents {
  margin: 20px 0 30px;
}

#checkout-container {
  margin-top: 45px;

  hr {
    width: 40%;
  }

  .or {
    display: inline-block;
    top: -27px;
    position: relative;
    background: white;
    padding: 0 15px;
    color: #6a7d88;
  }

  .prompt {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  #cart-contents {
    .list-group-item {
      border: none;
    }
  }
}
