@import "variables";
@import "frameworks_and_overrides";
@import "trix";
@import "orders";
@import "products";

main {
  // background-color: $light-yellow;
  @include make-container();
  margin-top: 30px;
}

section {
  padding-top: 20px;
  &#body {
    div, h1 {
      @include make-col();

      &.sidebar {
        @include make-col-span(4);
      }

      &.main {
        @include make-col-span(8);
      }

      .content {
        background-color: $pearl;
        @include make-col();
        @include make-col-span(12);
      }
    }
  }
}
