<% content_for :preheader, 'It worked!' %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">
          Good to go!
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          We're contacting you to notify you that your password
          has been changed.
        </td>
      </tr>
    </table>
  </td>
</tr>
