<% content_for :preheader, 'Please confirm it was you' %>

<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">
          Please confirm
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          Someone has requested a link to change your password. You can do
          this through the link below.
        </td>
      </tr>
      <tr>
        <td>
          <%= render 'shared/mailers/button', cta: 'Change my password',
            url: edit_password_url(@resource, reset_password_token: @token) %>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          If you didn't request this, please ignore this email.
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
          Your password won't change until you access the link above and
          create a new one.
        </td>
      </tr>
    </table>
  </td>
</tr>
