.container
  .row
    .col-md-4
    .col-lg-8
      %h1
        = @material.name
      %p
        %span.glyphicon.glyphicon-time
          Updated on
          = time_tag @material.updated_at
      %hr/
      = @material.description.html_safe
