- content_for :title, 'Products'

%section#products
  .container
    .row
      .col-sm-4#sidebar
        = render 'sidebar'
      .col-sm-8#products-list
        = render 'sort_bar'
        = render 'products_list'
        .pagination-container
          = paginate @results
