- content_for :title, @product.name

.container
  .row
    .col-md-4
    .col-lg-8
      %h1
        = @product.name
      %p
        %span.glyphicon.glyphicon-time
          Updated on
          = time_tag @product.updated_at
      %hr/
      = @product.description.html_safe
